.body{
    background-color: white;
    
}
.header{
    color: #C3423F;
    font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
    text-align: center;
}
.buttonContainer{
    position: relative;
    text-align: center;
}
.button{
    border-style: none;
    background-color: wheat;
    color: black;
    font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
}
#mainHeader{
    margin-top: 100px;
}