.body{
    background-color: white;
    
}
.header{
    color: #C3423F;
    font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
    text-align: center;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}